@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  background-color: hsl(229, 57%, 11%);
  position: relative;
}
@media screen and (max-width: 375px) {
  body {
    width: 100%;
  }
}

#background_desktop {
  position: absolute;
  z-index: -1;
  margin-top: 70px;
}
@media screen and (max-width: 375px) {
  #background_desktop {
    display: none;
  }
}

#background_mobile {
  display: none;
}
@media screen and (max-width: 375px) {
  #background_mobile {
    width: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    margin-top: -100px;
  }
}

.input {
  background: hsl(229, 57%, 11%) linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%)) no-repeat;
  background-size: var(--percent) 100%;
  border-radius: 20px;
  width: 100%;
  height: 10px;
  appearance: none;
  cursor: pointer;
}

footer {
  margin-top: 50px;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}

#card {
  width: 60%;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 375px) {
  #card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
  }
}
#card #card_img {
  background-color: hsl(228, 56%, 26%);
  padding: 30px;
  width: 40%;
  height: 160px;
  border-radius: 10px 45% 10px 10px;
}
@media screen and (max-width: 375px) {
  #card #card_img {
    width: 100%;
  }
}
#card #card_img #img_logo {
  margin-bottom: 20px;
}
#card #card_img #icons .icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: hsl(229, 57%, 11%);
}
#card #card_text {
  position: relative;
  width: 60%;
  height: 110px;
  margin-top: 50px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: hsl(228, 56%, 26%);
  color: hsl(0, 0%, 100%);
  padding: 30px;
}
@media screen and (max-width: 375px) {
  #card #card_text {
    margin-left: 0;
    width: 100%;
    height: 130px;
  }
}
#card #card_text span {
  font-weight: 800;
}
#card #card_text #number_text {
  margin-bottom: 10px;
}
@media screen and (max-width: 375px) {
  #card #card_text #number_text {
    font-size: 12px;
    text-align: center;
  }
}
#card #card_text #number_left {
  position: absolute;
  top: -30%;
  right: 5%;
}
@media screen and (max-width: 375px) {
  #card #card_text #number_left {
    right: 20%;
    top: 80%;
  }
}
#card #card_text #number_left .number {
  background: hsl(0, 0%, 100%);
  border-radius: 10px 10px 0 10px;
  padding: 10px 20px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 375px) {
  #card #card_text #number_left .number {
    border-radius: 10px;
  }
}
#card #card_text #number_left .number span {
  font-weight: 900;
  font-size: 30px;
}
#card #card_text #number_left .number #gb_left {
  color: hsl(229, 7%, 55%);
  font-size: 10px;
  margin-left: 5px;
  margin-top: 5px;
  text-transform: uppercase;
}
#card #card_text #number_left .triangle {
  margin-left: 115px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent hsl(0, 0%, 100%) transparent transparent;
  transform: rotate(0deg);
}
@media screen and (max-width: 375px) {
  #card #card_text #number_left .triangle {
    display: none;
  }
}
#card #card_text #number_range {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#card #card_text #number_range #number_start,
#card #card_text #number_range #number_end {
  font-weight: 800;
}

/*# sourceMappingURL=style.css.map */
