* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: $very_dark_blue;
    position: relative;

    @media screen and (max-width: map-get($breakpoints, mobile)) {
        width: 100%;
    }
}